*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
/*header*/
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px ;
}
a{
    text-decoration: none;
    color: rgb(238, 96, 1);;
}
p{
    color:#555;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2{
    max-width: 100%;
    padding: 10px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: #4649ec;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:  0.3s;
}

.btn:hover{
    background: radial-gradient(#fff, #54b3eb);
    color: rgb(93, 111, 211);

}
.header {
    background:repeating-radial-gradient(#fff,#54b3eb)
}
.header .row{
    margin-top: 10px;

}

.bgimg{


width: 800px;
}
.logo {
    width: 225px;
    height: auto;
    border-radius: 80%;
    height: auto;
    width: 40%;
}

.categories {
    margin: 70px 0;

}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}


/*featured products*/
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    text-align: center;
    transition:transform 0.5s ;
}
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #6668df;
    width: 80px;
    height: 5px;
    border-radius:5px ;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;

}
.col-4:hover{
    transform: translateY(-5px);
}

/******** Offer section**********/
.offer{
    background: radial-gradient(#fff, #54b3eb);
    margin-top:80px ;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 5px;
    
}
small{
    color: rgb(238, 96, 1);
    
}

/********Testimonial*********/

.testimonial{
    padding-top: 5px;

}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    cursor:pointer;
    width: 200px;
    height: 370px;
    transition: transform 0.5s; 

}
 
.testimonial .col-3 img {
    width: 50px;
    height: 50px;
    margin-top: 20px ;
    border-radius: 50%;
    
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
font-size: 34px;
color:#54b3eb ;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color:#777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/********Footer********/
